# -------------------------
# 🧠 Entorno virtual
# -------------------------
.venv/
env/
venv/

# -------------------------
# 🔐 Variables de entorno
# -------------------------
.env

# -------------------------
# 🐍 Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# 📓 Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# 📊 Datos
# -------------------------
data/
outputs/

# -------------------------
# 🛠️ IDE / sistema
# -------------------------
.vscode/
.idea/
.DS_Store

# -------------------------
# 📦 Packaging / build
# -------------------------
build/
dist/
*.egg-info/

